<!-- <h1>This is registeration page</h1>
 
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li> -->

<!DOCTYPE html>
<html>

<head>
    <title>Website Title</title>
    <link rel="stylesheet" href="register.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <div class="left">
            <h1 class="fades-heading">FADES</h1>
        </div>
        <div class="right">
            <a href="#">Home</a>
            <a href="#">Create</a>
            <a href="#">Analytics</a>
            <a href="#">Account</a>
        </div>
    </div>

    <div class="main-content">
        <h1 class="funky-font">UNLEASH YOUR ARTIST</h1>
        <h3>Bring out the creative in you and be the visionary changemaker</h3>
        <a href="#" class="button-get-started">Get Started</a>
    </div>
</body>

</html>